* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    ::-webkit-scrollbar {
        display: none;
    }
    font-size: 10px;
}

$color-mainH: rgb(46, 31, 26);
$color-sub1: rgb(247, 244, 236);
$color-sub2: rgb(127, 127, 127);
$color-point: rgb(242, 218, 94);
$color-sub2-font: rgb(94, 94, 94);
$color-line: rgb(220, 220, 220);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    position: absolute;
    height: 96rem;
}

.main {
    display: block;
    //border-left: 3rem solid #404040;
    //`border-right: 3rem solid #404040;
    position: relative;
    width: 54rem;
    height: 96rem;
    left: 50%;
    transform: translate(-50%);
    background: $color-mainH;
}

.logoBox {
    width: 100%;
    height: 10rem;

    &>img {
        height: 6rem;
        position: relative;
        left: 21rem;
        transform: translate(-50%, 15%);
    }

    &::after {
        top: 2.8rem;
        left: 6.5rem;
        color: $color-sub1;
        position: relative;
        content: "KOREAN DESSERT CAFE";
    }

}

.showProduct {
    display: inline-block;
    width: 42rem;
    height: 86rem;
    border-radius: 0 3rem 0 0;
    background-color: #efefef;

    .menuBar1 {
        display: flex;
        width: 100%;
        height: 4rem;
        list-style: none;
        justify-content: space-around;

        &>li {
            padding: 0 1.2rem 0.3rem 1.2rem;
            cursor: pointer;
            @include flexCenter;
            color: #222;
            padding-top: 0.1rem;
            font-size: 1.7rem;
            margin-top: 0.75rem;
            height: 2.5rem;
            border-radius: 5rem;

            /*&:hover {
                background-color: $color-mainH;
                color: #fff;
            }*/
            &.backgroundFlag {
                background-color: $color-mainH;
                color: #fff;
            }
        }

        &>li:last-child {
            margin-right: 4rem;
        }
    }

    .menuBar2 {
        display: flex;
        width: 100%;
        height: 2rem;
        list-style: none;

        &>li {
            display: none;
            color: #222;
            font-size: 1.7rem;
            flex: auto;
            height: 2.5rem;
            padding-left: 2rem;
            padding-right: 8rem;

            &>div {
                cursor: pointer;
                padding-bottom: 0.2rem;
                font-size: 1.2rem;
                color: #333;
                flex: auto;
                @include flexCenter;

                /*&:hover {
                    background-color: rgba(#000, 0.2);
                    border-radius: 5rem;
                }*/
                &.backgroundFlag {
                    background-color: rgba(#000, 0.2);
                    border-radius: 5rem;
                }
            }
        }

        &>li.displayFlag {
            gap: 1rem;
            display: inline-flex;
        }
    }

    .menuBarLine {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        height: 1px;
        width: 95%;
        background-color: #ddd;
        margin-top: 1rem;
    }

    & .productListWrapBox {
        display: none;
        overflow: scroll;
        height: 78rem;

        .productListBox {
            border-top: 1px solid transparent;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            width: 95%;
            gap: 3.5%;
            display: none;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            &>div {
                cursor: pointer;
                box-shadow: .2rem .2rem 0 0 rgba(#888, 0.2);
                margin-top: 1.2rem;
                width: 12.3rem;
                height: 18.8rem;
                background-color: #fff;
                border-radius: 0.8rem;
                @include flexCenter();
                flex-direction: column;
                & > img {
                    width: 100%;
                }
                & p:nth-child(2) {
                    font-size: 1.2rem;
                }
                & p {
                    color: #444;
                }
            }
            &.displayFlag {
                display: flex;
            }
        }
        &.displayFlag {
            display: block;
        }       
    }
}

.orderHistory {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 12rem;
    left: 42rem;
    height: 79rem;
    border-radius: 0 2rem 0 0;
    background-color: rgba(197, 197, 197, 0.4);

    &::before {
        @include flexCenter;
        font-size: 1.8rem;
        height: 5rem;
        content: "주문내역";
        color: #fff;
    }
    & > section {
        width: 100%;
        height: 60rem;
        //background-color: #fff;
    }
    & > div {
        height: 14rem;
        width: 100%;
        @include flexCenter();
        flex-direction: column;
        align-items: end;
        & > p {
            margin-right: 1.3rem;
            color: #fff;
        }
        & > p:nth-child(2) {
            font-size: 1.7rem;
        }
        & > button {
            border-radius: 0.2rem;
            font-size: 1.7rem;
            margin: 0.5rem;
            margin-right: 1.2rem;
            width: 80%;
            height: 3.5rem;
            color: #444;
            &:nth-child(3) {
                background-color: rgb(242, 218, 94);
            }
        }
    }
}