* { margin: 0; padding: 0; font-size: 10px; font-family: 'Noto Sans KR', sans-serif; }
$color-mainH: rgb(46, 31, 26);
$color-main: white;
$color-sub1: rgb(247, 244, 236);
$color-sub2: rgb(127, 127, 127);
$color-point: rgb(242, 218, 94);
$color-main-font: rgb(46, 31, 26);
$color-sub1-font: rgb(247, 244, 236);
$color-sub2-font: rgb(94, 94, 94);
$color-line: rgb(220, 220, 220);
$border-large: 5rem;
$border-medium: 1.5rem;
$border-small: 1rem; 
@mixin line {
    position: relative;
    border: 0.05rem solid $color-line;
}
.main {
    width: 54rem;
    height: 96rem;
    margin: 0 auto;
    background: $color-mainH;
    display: flex;
    align-items: flex-end;

    .left {
        width: 42rem;
        height: 96rem;
        
         .header_name{
            width: 42rem;
            height: 10rem;

            .logo {
                position: relative;
                width: 9rem;
                height: 5.75rem;
                top: 10%; left: 39%;
            }
            .exp {
                position: relative;
                width: 11.5rem;
                color: $color-sub1-font;
                font-size: 1rem;
                top: 15%; left: 36.3%;
            }
        }
        .menu {
            width: 42rem;
            height: 86rem;
            background: $color-sub1;
            border-radius: 0 $border-large 0 0;

            .menu_list {
                width: 42rem;
                height: 5.95rem;
            }
            .line {
                @include line;
                width: 40rem;
                left: 2.38%;
            }
            .fix1 {
                width: 42rem;
                height: 80rem;
                //background: gold;
                overflow: hidden;
                border-radius: 0 0 0 0;

                .wrap1 {
                    width: 126rem;
                    height: 100%;
                    //background: green;
                    display: flex;

                    .page1 {
                        width: 42rem;
                        height: 80rem;
                        //background: pink;
                        overflow: hidden;

                        .wrap2 {
                            width: 126rem;
                            height: 100%;
                            //background: skyblue;
                            display: flex;

                            .pageA {
                                width: 42rem;
                                height: 60rem;
                                background: pink;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-evenly;
                                align-content: flex-start;

                                .menuCard {
                                    width: 11rem;
                                    height: 18rem;
                                    background: $color-main;
                                    border-radius: $border-small;
                                    box-shadow: 0.1rem 0.25rem 0.5em 0 $color-line;
                                    text-align: center;
                                    margin-top: 3%;

                                    .product {
                                        position: relative;
                                        width: 10rem;
                                        height: 10rem;
                                        //background: pink;
                                        top: 1.5rem;
                                    }
                                    .prod_name {
                                        position: relative;
                                        font-size: 1.25rem;
                                        color: $color-sub2-font;
                                        //background: pink;
                                        top: 3rem; 
                                    }
                                    .prod_price {
                                        position: relative;
                                        font-size: 1rem;
                                        color: $color-sub2-font;
                                        //background: green;
                                        top: 3rem; 
                                    }
                                }
                            }
                            .pageB {
                                width: 42rem;
                                height: 80rem;
                                background: purple;
                            }
                            .pageC {
                                width: 42rem;
                                height: 80rem;
                                background: salmon;
                            }
                        }
                    }
                    .page2 {
                        width: 42rem;
                        height: 80rem;
                        background: red;
                    }
                    .page3 {
                        width: 42rem;
                        height: 80rem;
                        background: blue;
                    }
                }
            }
        }
    }
    .right {
        width: 12rem;
        height: 96rem;
        
        .header_ban {
            width: 12rem;
            height: 16rem;

            .banner {
                position: relative;
                width: 10rem;
                height: 14rem;
                top: 6.25%; left: 8.3%;
                background: black;
            }
        }
        .order {
            width: 12rem;
            height: 80rem;
            background: $color-sub2;
            border-radius: 0 4rem 0 0;

            .header_order {
                width: 12rem;
                height: 3.95rem;
                //background: pink;
                text-align: center;

                .orderN {
                    //background: green;
                    position: relative;
                    font-size: 1.5rem;
                    color: $color-sub1-font;
                    top: 1rem; 
                }
            }
            .line {
                position: relative;
                border: 0.05rem solid $color-sub1-font;
                width: 11rem; left: 0.5rem;
            }
            .orderList {
                width: 12rem;
                height: 61rem;
                //background: pink;
                overflow: hidden;

                .wrap3 {
                    width: 100%;
                    height: 172rem;
                    //background: gold;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .orderCard {
                        width: 10rem;
                        background: $color-main;
                        border-radius: $border-small;
                        box-shadow: 0.1rem 0.25rem 0.5em 0 $color-sub2-font;
                        text-align: center;
                        margin-top: 5%;

                        .close {
                            position: relative;
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 50%;
                            border: 0.1rem solid $color-line;
                            background: transparent;
                            top: -4.5rem; left: 7rem;
                        }
                        .selectedProd {
                            position: relative;
                            width: 6rem;
                            height: 6rem;
                            left: -0.8rem;
                        }
                        .line {
                            @include line;
                            width: 8rem;
                            left: 1rem;
                        }
                        .sProd_name {
                            color: $color-main-font;
                        }
                        .sProd_price {
                            color: $color-main-font;
                        }
                        .sProd_topping {
                            width: 10rem;
                            //background: pink;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;

                            .topp_name {
                                color: $color-sub2-font;
                                margin-right: 1rem;
                                font-size: 0.5rem;
                            }
                            .topp_price {
                                color: $color-sub2-font;
                                margin-right: 1rem;
                            }
                        }
                        .amount {
                            width: 10rem;
                            height: 2.5rem;
                            //background: pink;
                            border-radius: 0 0 1rem 1rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;

                            .word_amount {
                                color: $color-main-font;
                                margin-top: 0.25rem;
                            }
                            .minus {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-top: 0.25rem;
                                line-height: 1rem;
                                border: none;
                                background: transparent;
                            }
                            .num_amount {
                                width: 2.5rem;
                                height: 1.5rem;
                                margin-top: 0.25rem;
                                outline: none;
                            }
                            .plus {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-top: 0.25rem;
                                line-height: 1rem;
                                border: none;
                                background: transparent;
                            }
                        }
                    }
                }
            }
            .order_ready {
                width: 12rem;
                height: 15rem;
                background: green;
            }
        }
    }
}