hmtl
    head
        title 설빙 - 관리자 페이지
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js'
        integrity='sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=='
        crossorigin='anonymous')
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/admin.css")
    body
        main.mainDisplay
            ul.mainMenu
                li
                    a( href="/admin_order" )
                        img.logo(src="./images/sulbingLogo.png", alt="설빙로고", title="설빙로고")
                li
                    a( href="/admin_order" ) 주문현황
                li
                    a( href="/admin_product" ) 상품재고
                li
                    a( href="/admin_sales" ) 매출
                li
                    a( href="/admin_menu" ) 메뉴관리
                li
                    a( href="/admin_user" ) 회원관리
            section.adminPage
                section.headFrame
                    h1 매출
                section.mainContent
                    section.searchBox
        script(src="./js/admin.js")