html( lang="ko" )
    head
        meta( charset="utf-8" )
        link( rel="stylesheet", href="./css/mainPage.css" )
        link( rel="preconnect" href="https://fonts.googleapis.com" )
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link( href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" )
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
    body
        main.main 
            section.left 
                header.header_name
                    img.logo(src="./images/sulbingLogo.png", alt="설빙로고", title="설빙로고")
                    p.exp KOREAN DESSERT CAFE
                section.menu
                    nav.menu_list
                        ul.product_main 
                            li.main_category 빙수
                                ul.product_sub.sub1
                                    li.sub_category ALL
                                    li.sub_category 프리미엄과일빙수
                                    li.sub_category 전통빙수
                                    li.sub_category 스페셜빙수
                            li.main_category 음료
                                ul.product_sub.sub2
                                    li.sub_category ALL
                                    li.sub_category 커피
                                    li.sub_category 열매음료
                                    li.sub_category 라떼
                                    li.sub_category 스무디
                            li.main_category 디저트
                                ul.product_sub.sub3 
                                    li.sub_category ALL
                                    li.sub_category 베이커리
                                    li.sub_category 떡
                                    li.sub_category 분식
                            li.main_category 세트메뉴
                    div.line
                    section.fix1 
                        div.wrap1 
                            article.page1
                                div.wrap2 
                                    article.pageA
                                        -for (let i=0; i<9; i++)
                                            div.menuCard
                                                img.product(src="./images/bingsoo_kingMango.png", alt="망고빙수", title="망고빙수")
                                                p.prod_name 오레오초코몬스터
                                                p.prod_price 13,900원
                                    article.pageB 
                                    article.pageC
                            article.page2 
                            article.page3
            section.right
                header.header_ban 
                section.order
                    header.header_order 
                        p.orderN 주문내역
                    div.line 
                    section.orderList
                        div.wrap3 
                            -for (let i=0; i<15; i++)
                                div.orderCard
                                    button.close
                                        i.xi-close-min(style="color: rgb(220, 220, 220);")
                                    img.selectedProd(src="./images/bingsoo_kingMango.png", alt="망고빙수", title="망고빙수")
                                    div.line
                                    p.sProd_name 오레오초코몬스터
                                    p.sProd_price 13,900원
                                    -for(let i=0; i<10; i++)
                                        -var prod = { topp_name: '연유', topp_price: '1,000원', topp_else: '...' }
                                        if i==0
                                            div.sProd_topping
                                                p.topp_name= prod.topp_name
                                                p.topp_price= prod.topp_price 
                                        else if i==1
                                            div.sProd_topping 
                                                p.topp_else= prod.topp_else 
                                        else 
                                            div.sProd_topping(style="display: none;")
                                    div.amount 
                                        p.word_amount 수량
                                        button.minus
                                            i.xi-minus-min
                                        input.num_amount
                                        button.plus
                                            i.xi-plus-min
                    footer.order_ready
                        p
                            strong.total_amount 총 수량 (0)
                        p
                            strong.total_price 15,900 원
                        div.payment 
                            i.xi-credit-card.xi-2x(style="position: relative; left: 2rem;")
                            p.pay_word 결제
                        div.full_reset 전체 초기화
        script( src="./js/index.js" )