html( lang="ko" )
    head
        meta( charset="utf-8" )
        script(src="http://code.jquery.com/jquery-latest.min.js")
        link( rel="stylesheet", href="./css/mainPage.css" )
        link( rel="stylesheet", href="./css/optionmodal.css")
        link( rel="preconnect" href="https://fonts.googleapis.com" )
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link( href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" )
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
    body
        main.main 
            section.logoBox
                img(src="./images/sulbingLogo.png", alt="")
            section.showProduct
                ul.menuBar1
                    li  빙수
                    li  음료
                    li  디저트
                    li  세트메뉴
                ul.menuBar2
                    li.displayFlag
                        div All
                        div 과일빙수
                        div 인절미/흑임자
                        div 초코빙수
                    li
                        div All
                        div 과일쥬스
                        div 커피
                        div 초코
                    li
                        div All
                        div 빵
                        div 초콜릿
                        div 젤리
                    li
                        div All
                        div 과일빙수
                        div 인절미/흑임자
                        div 초코빙수
                hr.menuBarLine
                section 
                    article.productListBox 
                        - for(let i = 0 ; i < 20; i++)
                            div
            section.orderHistory
                section 
                div
                
        script(src="./js/mainPage.js")