html 
    head 
        link( rel="stylesheet", href="optionmodal.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet")
    body
    div.asd 
        div.option_modal_main
            section 
                button 
            
            div.option_modal_up
                img.optionImg(src='./img/bingsoo_img/bingsoo_kingMango.png' alt='mangoBingsoo')
                div.option_modal_text
                    p 킹망고빙수
                    p 13,900원
                    p 달콤한 망고와 바삭한 시리얼까지 들어간 혜자메뉴
                    p 알레르기정보 : 우유, 대두, 계란, 밀
                div.totalPrice
                    div 
                        hr
                        p 상품의 옵션을 선택하세요.
                        hr
                    p 합계:  
                    p 0원
                    hr 
            div.option_modal_down
                div.option_modal_source
                    p 소스 
                    button.source 연유 +500원
                    button.source 초코소스 +1,000원
                    button.source 생크림 +1,000원
                    button.source 망고소스 +1,000원
                    button.source 딸기소스 +1,000원
                    button.source 블루베리쨈 +1,000원
                div.option_modal_icecream
                    p 아이스크림 
                    button.icecream 바닐라 +2,000원
                    button.icecream 녹차 +2,000원
                    button.icecream 민트초코 +2,000원
                    button.icecream 요거트 +2,000원
                    button.icecream 망고요거트 +2,000원
                    button.icecream 스윗캔디구슬 +3,000원
                div.option_modal_fruits
                    p 과일 
                    button.fruit 애플망고 +2,000원
                    button.fruit 하프망고 +1,500원
                    button.fruit 블루베리쨈 +2,000원
                div.option_modal_tradition
                    p 전통토핑
                    button.tradition 팥 +1000원
                    button.tradition 인절미 +1,500원
                    button.tradition 찹쌀떡 +1,000원
                    button.tradition 찹쌀떡 +1,000원
                div.option_modal_etc
                    p 기타토핑 
                    button.etc 브라우니 +2,000원
                    button.etc 티라미수 +2,000원
                    button.etc 큐브치즈케이크 +2,000원
                div.option_modal_basket
                    button.cancel 취소
                    button.putin 주문담기