@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif; }

html,
body {
  background-color: rgba(250, 250, 234, 0.5); }

.mainDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.adminPage1 {
  transition: all 1s ease-in-out .1s;
  display: none;
  width: 105rem;
  height: 100%;
  background-color: #fff; }
  .adminPage1 .leftBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem;
    width: 120rem;
    height: 100%;
    margin-left: 1.8rem;
    overflow: hidden; }
    .adminPage1 .leftBox .orderBox {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin: 1.2rem;
      border-radius: 1rem; }
      .adminPage1 .leftBox .orderBox > div {
        width: 31rem;
        height: 25rem; }
        .adminPage1 .leftBox .orderBox > div div:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: space-between;
          height: 20%; }
          .adminPage1 .leftBox .orderBox > div div:nth-child(1) p {
            font-size: 2rem;
            margin: 2rem; }
        .adminPage1 .leftBox .orderBox > div div:nth-child(2) {
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .adminPage1 .leftBox .orderBox > div div:nth-child(2) > div {
            width: 27rem;
            height: 80%;
            border: 1px solid #ddd; }
        .adminPage1 .leftBox .orderBox > div div:nth-child(3) {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20%;
          justify-content: space-between; }
          .adminPage1 .leftBox .orderBox > div div:nth-child(3) p {
            font-size: 2rem;
            margin: 2rem;
            padding: 1rem; }
          .adminPage1 .leftBox .orderBox > div div:nth-child(3) button {
            border-radius: 1rem;
            cursor: pointer;
            background-color: #f2da5e;
            border: 1px solid #fde363;
            width: 8rem;
            font-size: 2rem;
            margin: 2rem; }
            .adminPage1 .leftBox .orderBox > div div:nth-child(3) button:hover {
              background-color: #fde363; }
    .adminPage1 .leftBox::before {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      width: 101.5rem;
      color: white;
      background-color: #2E1F1A;
      font-size: 3rem;
      content: "주문현황"; }

.adminPage2 {
  transition: all 1s ease-in-out .1s;
  display: none;
  width: 105rem;
  height: 100%;
  background-color: #fff; }
  .adminPage2 .leftBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120rem;
    height: 100%;
    margin-left: 1.8rem;
    overflow: hidden; }
    .adminPage2 .leftBox .productInventory {
      width: 85rem;
      height: 70%;
      margin-top: 5rem;
      border: 1px solid #aaa;
      border-radius: 0 1rem 1rem 1rem; }
      .adminPage2 .leftBox .productInventory div:nth-child(1) {
        display: flex;
        position: absolute;
        margin-top: -5rem;
        width: 80rem;
        height: 5rem; }
        .adminPage2 .leftBox .productInventory div:nth-child(1) button {
          margin-left: -0.1rem;
          cursor: pointer;
          background-color: #fff;
          border-radius: 1rem 1rem 0 0;
          aspect-ratio: 8 / 7;
          border: 1px solid #aaa;
          font-size: 1.2rem;
          color: #555; }
          .adminPage2 .leftBox .productInventory div:nth-child(1) button:hover {
            background-color: #eee; }
        .adminPage2 .leftBox .productInventory div:nth-child(1) button.borderFlag {
          border-bottom: 0; }
      .adminPage2 .leftBox .productInventory div:nth-child(n + 2) {
        width: 100%;
        height: 100%;
        display: none;
        border-radius: 0 1rem 1rem 1rem; }
        .adminPage2 .leftBox .productInventory div:nth-child(n + 2) > button {
          cursor: pointer;
          color: #ddd;
          background-color: #40497A;
          font-size: 1.5rem;
          margin: 1.5rem;
          margin-left: 3.5rem;
          width: 10rem;
          height: 6rem; }
        .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section {
          margin-left: 3.5rem;
          width: 78rem; }
          .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article {
            display: flex;
            justify-content: center;
            align-items: center; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 3.5rem;
              font-size: 1.8rem;
              border: 0.01rem solid #ddd;
              border-left: transparent;
              border-right: transparent;
              border-top: transparent; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(1) {
              width: 7%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(2) {
              width: 23%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(3) {
              width: 15%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(4) {
              width: 10%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(5) {
              width: 15%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(6) {
              width: 15%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article p:nth-child(7) {
              text-align: center;
              width: 15%; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article button {
              cursor: pointer;
              width: 7.6%;
              height: 3.7rem;
              font-size: 1.8rem;
              border: 0.01rem solid #ddd; }
              .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article button:hover {
                background-color: #dadada; }
          .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article:nth-child(1) {
            border-bottom: 1px solid #ddd; }
            .adminPage2 .leftBox .productInventory div:nth-child(n + 2) section article:nth-child(1) p {
              font-size: 1.5rem; }
      .adminPage2 .leftBox .productInventory div.displayFlag {
        display: block; }
  .adminPage2::before {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.5rem;
    color: white;
    background-color: #2E1F1A;
    font-size: 3rem;
    content: "상품재고"; }

.adminPage3 {
  transition: all 1s ease-in-out .1s;
  display: none;
  width: 105rem;
  height: 100%;
  background-color: #fff; }
  .adminPage3 .rightBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem; }
  .adminPage3 .leftBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem;
    width: 120rem;
    height: 100%;
    margin-left: 1.8rem;
    overflow: hidden; }
  .adminPage3::before {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.5rem;
    color: white;
    background-color: #2E1F1A;
    font-size: 3rem;
    content: "매출"; }

.adminPage4 {
  transition: all 1s ease-in-out .1s;
  display: none;
  width: 105rem;
  height: 100%;
  background-color: #fff; }
  .adminPage4 .rightBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem; }
  .adminPage4 .leftBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem;
    width: 120rem;
    height: 100%;
    margin-left: 1.8rem;
    overflow: hidden; }
  .adminPage4::before {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.5rem;
    color: white;
    background-color: #2E1F1A;
    font-size: 3rem;
    content: "메뉴관리"; }

.adminPage5 {
  transition: all 1s ease-in-out .1s;
  display: none;
  width: 105rem;
  height: 100%;
  background-color: #fff; }
  .adminPage5 .rightBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem; }
  .adminPage5 .leftBox {
    margin: 0 1rem 0 1rem;
    width: 42.5rem;
    height: 80rem;
    width: 120rem;
    height: 100%;
    margin-left: 1.8rem;
    overflow: hidden; }
  .adminPage5::before {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.5rem;
    color: white;
    background-color: #2E1F1A;
    font-size: 3rem;
    content: "회원"; }
  .adminPage5 .mainContent {
    width: 95%;
    height: 80%; }
    .adminPage5 .mainContent ul {
      list-style-type: none; }
    .adminPage5 .mainContent ul.userRowSet {
      display: flex;
      flex-direction: column; }
      .adminPage5 .mainContent ul.userRowSet li ul.userColSet {
        display: flex; }
        .adminPage5 .mainContent ul.userRowSet li ul.userColSet li {
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          border: 0.01rem solid #ddd;
          width: 10%;
          height: 3rem; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input, .adminPage5 .mainContent ul.userRowSet li ul.userColSet li select {
            width: 100%;
            height: 100%; }
            .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input[type=button], .adminPage5 .mainContent ul.userRowSet li ul.userColSet li select[type=button] {
              cursor: pointer; }
            .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input[type=number], .adminPage5 .mainContent ul.userRowSet li ul.userColSet li select[type=number] {
              text-align: center; }
            .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input[disabled], .adminPage5 .mainContent ul.userRowSet li ul.userColSet li select[disabled] {
              color: black;
              cursor: auto; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input::-webkit-outer-spin-button,
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(1) {
            width: 3%;
            justify-content: center; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(2) {
            width: 10%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(3) {
            width: 13%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(4) {
            width: 5%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(6) {
            width: 4%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(7) {
            width: 7%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(10) {
            width: 17%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(11) {
            width: 5%; }
          .adminPage5 .mainContent ul.userRowSet li ul.userColSet li:nth-of-type(12) {
            width: 5%; }
      .adminPage5 .mainContent ul.userRowSet li:nth-of-type(1) > ul > li {
        justify-content: center; }
      .adminPage5 .mainContent ul.userRowSet li.userInsertRow {
        margin: 0.5rem 0; }
        .adminPage5 .mainContent ul.userRowSet li.userInsertRow form ul .userColEmpty {
          border: 0.01rem solid transparent;
          display: flex;
          justify-content: center; }

.displayFlag {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex; }

.mainMenu {
  top: 1rem;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15rem;
  background-color: rgba(22, 26, 46, 0.6); }
  .mainMenu li:nth-child(1) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer; }
  .mainMenu li:nth-child(n + 2) {
    cursor: pointer;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white; }
    .mainMenu li:nth-child(n + 2):hover {
      background-color: rgba(0, 0, 0, 0.2); }
    .mainMenu li:nth-child(n + 2).backgroundFlag {
      background-color: rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=mo.css.map */
