hmtl
    head 
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js'
        integrity='sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=='
        crossorigin='anonymous')
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="mo.css")
    body
        img(src="포인트적립모달시안.png", alt="")
        main.asd
            div.modal
                section 
                    button
                section
                    div
                        button 매장에서 
                        button 포장하기
                    div 
                        p
                        p 스푼 개수
                        span 
                            button -
                            input 
                            button +
                    div
                        p
                        p 드라이아이스
                        span 
                            button -
                            input 
                            button +
                section 
                    div.orderBox
                        div.option
                            p 상품명
                            p 수량
                            p 가격
                        aside
                            div.option
                                p 킹망고빙수
                                p 1
                                p 13,900원
                            div.addOption.option
                                p 연유
                                p 1
                                p 500원
                        div.option.totalPrice
                            p 총합:
                            p 
                            p 14,400원
                section
                    button 
                        img(src="../kakaopay.png", alt="")
                        p 포인트 적립
                    button
                        img(src="../kakaopay.png", alt="")
                        p 카드 결제
                    button
                        img(src="../kakaopay.png", alt="")
                        p 페이 결제
                    button
                        img(src="../kakaopay.png", alt="")
                        p 기프티콘 결제
                section
                    button 취소
                    button 결제하기
            div.modal2WrapBox
                div.modal2
                    section 
                        button
                    section.addClass
                        img(src="../applepayre.png", alt="")
                    section 
                        img(src="../kakaopay.png", alt="")
                    section 
                        img(src="../naverpay2.png", alt="")
                    section 
                        img(src="../samsungpay2.png", alt="")
                    section 
                        button 취소하기
                        button 선택하기
            

        script(src="mo.js") 